* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: rgb(242, 242, 242);
    --secondary: rgb(247, 247, 248);
    --blue: rgb(145, 193, 231);
    --button-active: rgb(221, 221, 221);
}
#btnhandler button:hover {
    background-color: var(--primary);
}
main {
    display: flex;
    justify-content: center;
}

.container {
    margin: 10vh 0;
    background-color: var(--primary);
    padding: 5px;
}

.input {
    display: flex;
    justify-content: center;
    text-align: end;
    width: 100%;
    border: none;
    height: 80px;
    margin: 1px;
    outline: none;
    font-size: 30px;
    font-weight: 600;
    background-color: var(--primary);
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.func,
.trigno {
    display: flex;
    justify-content: flex-start;
}

.wrapper > img {
    height: 18px;
}

.trigno {
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: var(--primary);
    border: none;
}
.button {
    margin: 2px;
    height: 50px;
    width: 80px;
    background-color: var(--secondary);
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}
.headers {
    margin: 2px;
    height: 50px;
    width: 80px;
    background-color: var(--primary);
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
.button:active {
    background-color: var(--button-active);
}
.number {
    background-color: white;
    font-size: 20px;
    font-weight: 600;
}

#equals {
    font-size: 25px;
    background-color: var(--blue);
}
.hover-icon {
    transform: rotate(-90deg);
}
.wrapper:hover .hover-icon {
    transition: transform 0.3s ease-in-out;
    transform: rotate(90deg);
}
.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 135px;
}
#btnhandler button {
    outline: none;
}
.dropdown {
    position: relative;
}
.trig {
    display: flex;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary);
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content button {
    color: black;
    font-size: 15px;
    padding: 8px 5px;
    text-decoration: none;
    min-width: 125px;
    border: var(--primary);
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content button:hover {
    background-color: var(--button-active);
}

@media screen and (max-width: 425px) {
    .button {
        margin: 2px;
        height: 50px;
        width: 20%;
    }
    .container {
        margin: 5vh 0;
    }
}
